@font-face {
    font-family: 'Genshin';
    src: url(Fonts/zh-cn.ttf);
}

*{
    font-family: "Genshin";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --body-color: #E4E9F7;
    --body-color-darker:#b6c0dad9;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-toggle: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-02: all 0.2s ease ;
    --tran-03: all 0.3s ease ;
    --tran-04: all 0.4s ease ;
    --tran-05: all 0.5s ease ;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

body.dark{
    --body-color: #18191A;
    --body-color-darker:#0f0f0f;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-toggle: #7289da;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}

/* ==== sidebar ===== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

.sidebar.close{
    width: 88px;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
    -webkit-transition: var(--tran-03);
    -moz-transition: var(--tran-03);
    -ms-transition: var(--tran-03);
    -o-transition: var(--tran-03);
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
    -webkit-transition: var(--tran-02);
    -moz-transition: var(--tran-02);
    -ms-transition: var(--tran-02);
    -o-transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .nama{
    font-weight: 600;
}

.header-text .profesi{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color-toggle) ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
    -webkit-transition: var(--tran-03);
    -moz-transition: var(--tran-03);
    -ms-transition: var(--tran-03);
    -o-transition: var(--tran-03);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar .menu{
    margin-top: 35px;
}

.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

.search-box input{
    height: 100%;
    width: 100%;
    margin-right: 14px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    color: var(--text-color);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: var(--tran-04);
    -webkit-transition: var(--tran-04);
    -moz-transition: var(--tran-04);
    -ms-transition: var(--tran-04);
    -o-transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color);

}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light) ;
    transition:var(--tran-05);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transition:var(--tran-05);
    -moz-transition:var(--tran-05);
    -ms-transition:var(--tran-05);
    -o-transition:var(--tran-05);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.switch::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transition: var(--tran-03);
    -moz-transition: var(--tran-03);
    -ms-transition: var(--tran-03);
    -o-transition: var(--tran-03);
}

body.dark .switch::before{
    left: 24px;
}

.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color-darker);
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 13px 40px;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

.button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--toggle-color);
    border-radius: 6px;
    font-size: 18px;
    padding: 8px 12px;
    background: var(--primary-color-toggle);
    box-shadow: rgba(0,0,0,0.15);
    transition: var(--tran-05);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

.home#Home {
    background: var(--primary-color-light);
    background-image: url(homeBg.jpg);
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.home#About_Me,#Socials{
    background: var(--body-color);
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: (ukuran layar lebih besar dari 600px) */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: (ukuran layar lebih besar dari 768px)*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.padding-8{
    padding: 8px;
}

.padding-16 {
    padding: 16px;
}

.padding-32 {
    padding: 32px;
}

.padding-64 {
    padding: 64px;
}

.padding-128 {
    padding: 128px;
}

.circle{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.center {
    text-align: center;
}

table {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    }
    table tr {
    border: 1px solid #ddd;
    padding: 5px;
    }
    table th, table td {
    padding: 10px;
    text-align: center;
    }
    table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    }

@media screen and (max-width: 600px) {
    table {
    border: 0;
    }
    table thead {
    display: none;
    }
    table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
    }
    table td { display:
    block; text-align:
    right; font-size:
    12px;
    border-bottom: 1px dotted #ccc;
    }
    table td:last-child {
    border-bottom: 0;
    }
    table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: calc(100%-88px);
    padding: 20px;
    flex-wrap: wrap;
    /* margin-top: -50px; */
}

.container .card{
    position: relative;
    padding: 10px;
    width: 300px;
    background: var(--sidebar-color);
    margin: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    overflow: hidden;
    transition: var(--tran-05);
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

.container .card img{
    transition: var(--tran-05);
    height: 150px;
    width: 150px;
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

.container .card h1{
    font-size: 2rem;
}

.container .card .content{
    padding: 20px;
    text-align: center;
}


.container .card .content p{
color: var(--text-color);
transition: var(--tran-05);
font-size: x-large;
-webkit-transition: var(--tran-05);
-moz-transition: var(--tran-05);
-ms-transition: var(--tran-05);
-o-transition: var(--tran-05);
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: var(--primary-color);
    color: white;
    border-radius: 40px;
    text-decoration: none;
    transition: var(--tran-05);
    outline: none;
    margin-top: 20px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

.container .card:hover{
    background: var(--primary-color);
    color: white;
    margin-top: -30px;
    box-shadow: 2px 20px 25px #707070;
    border-color: var(--primary-color);
}

.container .card:hover .content p{
    color:white;
}

.container .card:hover .content a{
    color: var(--primary-color);
    background:white;
    
}
